.fullName {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.btn_container {
  display: flex;
  justify-content: flex-end;
}
.option {
  :hover {
    box-shadow: 0 0 10px 100px #1882a8 inset;
  }
}
.secondLogo {
  display: block;
  margin: 0 auto;
  margin-top: 75px;
}
