@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/HelveticaNeue.ttc');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid #f00;
  font-size: 100%;
  font-family: 'Helvetica Neue';
}

body {
  margin: 0;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
